[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-docutils = "*"
django-environ = "*"
dj-database-url = "*"
dj-static = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[scripts]
start = "python manage.py runserver"
superuser = "python manage.py superuser"
